### Assemble

>{{ assemble_desc }}

>**Fasta File:** [Contigs.fasta]({{ assemble_fasta }})

>##### Assemble Statistics

<pre>{{ assemble_statistics }}</pre>


>To find more information regarding the integrated software see:

1.	 [Prodigal](http://prodigal.ornl.gov/)
2.	 [Ray 2.2.1](http://denovoassembler.sourceforge.net/)
3.	 [BLAST suite](http://blast.ncbi.nlm.nih.gov)
4.	 [bwa](http://bio-bwa.sourceforge.net/)
5.	 [CAP3](http://seq.cs.iastate.edu/cap3.html)
6.	 [EMIRGE](https://github.com/csmiller/EMIRGE)
7.	 [MaxBin](http://sourceforge.net/projects/maxbin/)

>Boisvert, S., F. Laviolette, and J. Corbeil. 2010. Ray: Simultaneous assembly of reads from a mix of high-throughput sequencing technologies. Journal of Computational Biology 17:1519-1533.

>Boisvert, S., F. Raymond, E. Godzaridis, F. Laviolette, and J. Corbeil. 2012. Ray Meta: scalable de novo metagenome assembly and profiling. Genome Biol 13:R122.

>Hyatt, D., P. F. LoCascio, L. J. Hauser, and E. C. Uberbacher. 2012. Gene and translation initiation site prediction in metagenomic sequences. Bioinformatics 28:2223-2230.

>Wu, Y. W., Y. H. Tang, S. G. Tringe, B. A. Simmons, and S. W. Singer. 2014. MaxBin: an automated binning method to recover individual genomes from metagenomes using an expectation-maximization algorithm. Microbiome 2:26.

--------
