### Assemble

>{{ assemble_desc }}

>To find more information regarding the integrated software see:
>1. Prodigal  [http://prodigal.ornl.gov/](http://prodigal.ornl.gov/)
2. Ray 2.2.1  [http://denovoassembler.sourceforge.net/](http://denovoassembler.sourceforge.net/)
3.BLAST suite [http://blast.ncbi.nlm.nih.gov](http://blast.ncbi.nlm.nih.gov)
4. bwa  [http://bio-bwa.sourceforge.net/](http://bio-bwa.sourceforge.net/)
5. CAP3 [http://seq.cs.iastate.edu/cap3.html](http://seq.cs.iastate.edu/cap3.html)
6. EMIRGE  [https://github.com/csmiller/EMIRGE](https://github.com/csmiller/EMIRGE)
7. MaxBin  [http://sourceforge.net/projects/maxbin/](http://sourceforge.net/projects/maxbin/)

>[Fasta_file]({{ assemble_fasta }})

<pre>{{ assemble_statistics }}</pre>

--------
