### Funcitonal Gene Search

>{{ fgs_desc }}

>{{ gene_markdown }}

>To find more information regarding the integrated software see:

1. [vsearch](https://github.com/torognes/vsearch)
2. [usearch](http://www.drive5.com/usearch)
 

>Mortazavi A, Williams BA, McCue K, Schaeffer L, Wold B.Mapping and quantifying mammalian transcriptomes by RNA-Seq. Nat Methods. 2008 Jul;5(7):621-8. doi: 10.1038/nmeth.1226. Epub 2008 May 30.

-------

