### Quality Control

>{{ qc_desc }}

>To find more information regarding the integrated software see:

1. Bioperl     [http://www.bioperl.org/wiki/Main_Page](http://www.bioperl.org/wiki/Main_Page)
2. Biopieces   [https://code.google.com/p/biopieces/](https://code.google.com/p/biopieces/)
3. Biopython   [http://biopython.org/wiki/Main_Page](http://biopython.org/wiki/Main_Page)
4. Cutadapt    [https://code.google.com/p/cutadapt/](https://code.google.com/p/cutadapt/)
5. HomerTools  [http://homer.salk.edu/homer/ngs/homerTools.html](http://homer.salk.edu/homer/ngs/homerTools.html) 
6. Trimmomatic     [http://www.usadellab.org/cms/?page=trimmomatic](http://www.usadellab.org/cms/?page=trimmomatic)
7. TrimGalore  [http://www.bioinformatics.babraham.ac.uk/projects/trim_galore/](http://www.bioinformatics.babraham.ac.uk/projects/trim_galore/)

Martin, M. 2011. Cutadapt removes adapter sequences from high-throughput sequencing reads. EMBnet.journal 17:10-12.

--------

>#### Foward Read

<img src="{{ forward_scr1 }}" width="400" height="300"><img src="{{ qc_forward_scr1 }}" width="400" height="300">
 <img src="{{ forward_scr2 }}" width="400" height="300"><img src="{{ qc_foward_scr2 }}" width="400" height="300">

>#### Reverse Read

<img src="{{ reverse_scr1 }}" width="400" height="300"><img src="{{ qc_reverse_scr1 }}" width="400" height="300">
<img src="{{ reverse_scr2 }}" width="400" height="300"><img src="{{ qc_reverse_scr2 }}" width="400" height="300">
