### Quality Control

>{{ qc_desc }}

>#### Foward Read

<img style="margin-left:20px;" src="{{ forward_scr1 }}" width="400" height="300"> <img src="{{ forward_scr2 }}" width="400" height="300">

>#### Reverse Read

<img style="margin-left:20px;" src="{{ reverse_scr1 }}" width="400" height="300"><img src="{{ reverse_scr2 }}" width="400" height="300">

