#Metagenomic Analysis

###General Info

>The following repositories contain software and code used to generate this report:

>#####Docker

><table>
	<tr>
    	<th>Docker Container</th>
    	<th>Description</th>
  	</tr>
    <tr>
        <td>mgmic/qiime_env</td>
        <td> QIIME Docker for Phylogenetic Analysis</td>
    </tr>
     <tr>
        <td>mgmic/bioinformatics</td>
        <td> Bioinformatics tools and code</td>
    </tr>
     <tr>
        <td>mgmic/api</td>
        <td> RESTful API code</td>
    </tr>
    <tr>
        <td>mgmic/report</td>
        <td> MGMIC report generation.</td>
    </tr>
</table>

>#####GitHub

><table>
	<tr>
    	<th>Repository</th>
    	<th>Description</th>
  	</tr>
    <tr>
        <td>MGMIC/portal</td>
        <td> Web portal</td>
    </tr>
     <tr>
        <td>MGMIC/restful-api</td>
        <td> RESTful API deployment</td>
    </tr>
     <tr>
        <td>MGMIC/mgmicq</td>
        <td> Queue tasks</td>
    </tr>
    <tr>
        <td>MGMIC/mgmic_worker_scripts</td>
        <td> Bioinformatics workflow scripts</td>
    </tr>
</table>

