### 16S Classification

>{{ s16_desc }}

>To find more information regarding the integrated software see:

>1. QIIME           [http://qiime.org](http://qiime.org)
2. fastx-toolkit 0.0.12    [http://hannonlab.cshl.edu/fastx_toolkit/](http://hannonlab.cshl.edu/fastx_toolkit/)
3. ea-utils.1.1.2-537  [https://code.google.com/p/ea-utils/](https://code.google.com/p/ea-utils/)
4. KronaGraph      [http://sourceforge.net/p/krona/home/krona/](http://sourceforge.net/p/krona/home/krona/)
5. usearch         [http://www.drive5.com/usearch](http://www.drive5.com/usearch)

>Caporaso, J. G., K. Bittinger, F. D. Bushman, T. Z. DeSantis, G. L. Andersen, and R. Knight. 2010. PyNAST: a flexible tool for aligning sequences to a template alignment. Bioinformatics 26:266-267.
>Edgar, R. C. 2010. Search and clustering orders of magnitude faster than BLAST. Bioinformatics 26:2460-2461.

-------

><iframe width="800" height="1200" src="{{ iframe_src }}" frameborder="0" allowfullscreen></iframe>

>[Qiime Output]({{ qiime-url }})

>[SSU_Hits_corrected.fasta]({{ ssu_hits }})
