### 16S Classification

>{{ s16_desc }}

><iframe width="800" height="1200" src="{{ iframe_src }}" frameborder="0" allowfullscreen></iframe>

>[Qiime Output]({{ qiime-url }})

>[SSU_Hits_corrected.fasta]({{ ssu_hits }})
